project_name = "master-sebs-boki"
aws_region   = "eu-north-1"

vpc_cidr            = "10.40.0.0/16"
public_subnet_cidrs = ["10.40.1.0/24"]
admin_cidr          = "0.0.0.0/0"

key_pair_name = ""

# c5.4xlarge: 16 vCPU, 32GB RAM — enough for Docker Compose Boki cluster
boki_instance_type = "c5.4xlarge"

gateway_http_port = 8080

boki_repo_url = "https://github.com/GeorgZs/master-boki.git"
boki_repo_ref = "master"
